<div class="toolbar-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="nav-toolbar mat-elevation-z2">
    <header>
      <div>
        <button mat-icon-button (click)="sidenav?.toggle()"><mat-icon>menu</mat-icon></button>
        <h1>{{ title }}</h1>
      </div>
      <button class="text-right" mat-icon-button (click)="signTo()"><mat-icon>account_circle</mat-icon></button>
    </header>
  </mat-toolbar>
  <mat-sidenav-container class="nav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [opened]="open" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list *ngFor="let nav of fillerNav; trackBy: trackByFn">
        <a mat-list-item [routerLink]="[nav.link]"><mat-icon>{{ nav.icon }}</mat-icon>{{ nav.name }}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <ng-content></ng-content>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>