@import 'src/styles/palette';

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  h1 {
    line-height: 2;
    margin-left: 1rem;
  }
  h1, .mat-icon-button {
    display: inline-block;
    vertical-align: top;
  }
}
main {
  background: url(https://bit.ly/2QLtEKB) no-repeat bottom center fixed;
  background-size: cover;
  padding-top: 1px; // Fix background space top
  overflow: auto;
  height: 100%;
  
}

.mat-drawer {
  min-width: 16.22rem;
  overflow-x: hidden;
}
.mat-drawer-container { height: calc(100% - 0.1px) }
.mat-drawer-inner-container {
  padding-right: 2rem;
}
.mat-drawer-content.mat-sidenav-content { overflow: initial }
.mat-nav-list.mat-list-base {
  padding: 0 1rem 0 .75rem;
  .mat-list-item.mat-focus-indicator {
    &:first-child {
      margin-top: .5rem;
    }
    margin-top: .1rem;
    border-radius: .25rem; 
    &.active, &.active:hover {
      background-color: map-get($soft-peach_hv, 600);
    }
    &:hover {
      background-color: map-get($soft-peach_hv, 500);
    }
  }
}
.logo {
  max-width: 3.25rem;
  margin-left: .55rem;
  &:hover { opacity: .875 }
}
.name { margin-left: .5rem }
.is-mobile .nav-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.is-mobile .nav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.nav-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}
.mat-toolbar {
  position: relative;
  z-index: 2;
}
.toolbar-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}