<div class="toolbar-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="nav-toolbar mat-elevation-z2">
    <header>
      <div>
        <button mat-icon-button (click)="sideNav.toggle()"><mat-icon>menu</mat-icon></button>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">
          <img class="logo" src="assets/img/logo_mark.svg" alt="Símbolo logo Crecer">
        </a>
        <h1>{{ title }}</h1>
      </div>
      <button class="text-right" mat-icon-button (click)="signTo()"><mat-icon>account_circle</mat-icon></button>
    </header>
  </mat-toolbar>
  <mat-sidenav-container class="nav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
      #sidenav
      [opened]="opened"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list cdkFocusRegionstart>
        <a mat-list-item *ngFor="let nav of fillerNav; trackBy: trackByFn"
          [routerLink]="[nav.link]"
          routerLinkActive="active"
          (click)="toggleSideNav()">
          <mat-icon>{{ nav.icon }}</mat-icon><span class="name">{{ nav.name }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <ng-content></ng-content>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
