@import 'mixins';
@import 'palette';

// Fonts
@include font-face('Montserrat', assets/fonts/montserrat-regular, normal, 400);

$custom-typography: mat-typography-config(
  $font-family: "'Montserrat', 'Helvetica Neue', sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

h1 {
  font-size: 3rem;
  line-height: 1rem;
}

// Buttons
button[isroundbutton] {
  border-radius: 1rem;
}

// Icons
.mat-icon {
  color: $dark-primary-text;
}

// Drawer
.mat-drawer {
  min-width: 16.22rem;
  overflow-x: hidden;
}
.mat-drawer-inner-container {
  padding-right: 2rem;
}
.mat-drawer-content.mat-sidenav-content {
  overflow: initial;
}

// List
.mat-nav-list.mat-list-base {
  padding: 0 1rem 0 .75rem;
  .mat-list-item.mat-focus-indicator {
    &:first-child {
      margin-top: .5rem;
    }
    margin-top: .1rem;
    border-radius: .25rem; 
    &.active, &.active:hover {
      background-color: map-get($soft-peach_hv, 600);
    }
    &:hover {
      background-color: map-get($soft-peach_hv, 500);
    }
  }
}
