@import '~@angular/material/theming';
@import 'palette';
@import 'customizer';

// Custom Theming for Angular Material
@include mat-core();

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Palette
$primary: mat-palette($soft-peach, 50);
$accent: mat-palette($atlantis);

// The warn palette is optional (defaults to red).
$warn: mat-palette($soft-peach, A200);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($theme);