<section class="news">
  <div class="content">
    <header class="subheader"><img class="main-img" src="https://dummyimage.com/1000x600/bababc/fff" alt="Valores-sub_1"></header>
    <article class="main-text">
      <h2>Noticias</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Totam omnis odit ipsam sed quos, a repudiandae, sapiente consequuntur laborum quaerat vel. 
        Nemo, incidunt consectetur illum quae quam pariatur in doloremque.
      </p>
      <button mat-raised-button isRoundButton color="light">Ver más</button>
    </article>
  </div>
</section>
