<section class="values">
  <header>
    <img class="main-img" src="https://dummyimage.com/2560x800/bababc/fff" alt="Nuestros valores">
    <div class="title">
      <h1>{{ texts.title }}</h1>
      <button mat-raised-button isRoundButton color="accent">Matrículas</button>
    </div>
  </header>
  <h1 class="is-mobile">{{ texts.title }}</h1>
  <div class="content">
    <article class="main-text">
      <h2>Sed ut perspiciatis</h2>
      <p>
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        Neque porro quisquam est...
      </p>
    </article>
    <article class="main-text">
      <h2>Lorem ipsum dolor</h2>
      <p>
        Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi...
      </p>
    </article>
    <header class="subheader"><img class="main-img" src="https://dummyimage.com/1000x600/bababc/fff" alt="Valores-sub_1"></header>
    <article class="main-text">
      <h2>Noticias</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Totam omnis odit ipsam sed quos, a repudiandae, sapiente consequuntur laborum quaerat vel. 
        Nemo, incidunt consectetur illum quae quam pariatur in doloremque.
      </p>
      <button mat-raised-button isRoundButton color="light">Ver más</button>
    </article>
  </div>
</section>