.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  @media (min-width: 1315px) {
    grid-template-columns: 1fr 1fr;
  }
  header {
    text-align: center;
    @media (min-width: 964px) {
      padding: 1rem;
    }
  }
}
.main-text {
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-img {
  min-width: 10%;
  max-width: 100%;
}
