header {
  position: relative;
  text-align: center;
  .title {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    h1 {
      display: none;
      margin-right: 1rem;
      margin-left: 1rem;
      @media (min-width: 62rem) { display: block }
    }
  }
}
.content {
  display: grid;
  @media (min-width: 48rem) { grid-template-columns: 1fr 1fr }
  header {
    @media (min-width: 48rem) { padding: 1rem }
    @media (min-width: 60.25rem) { &.subheader {  margin-top: .5rem }}
  }
}
.main-text {
  padding-left: .25rem;
  @media (min-width: 22.5rem) {
    padding: 1rem 1rem 2.5rem;
  }
}
.main-img {
  min-width: 10%;
  max-width: 100%;
  position: relative;
}
