<section class="values">
  <header>
    <img class="main-img" src="https://dummyimage.com/2000x800/bababc/fff" alt="Nuestros valores"></header>
  <section class="content">
    <article>
      <p class="main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Totam omnis odit ipsam sed quos, a repudiandae, sapiente consequuntur laborum quaerat vel. 
        Nemo, incidunt consectetur illum quae quam pariatur in doloremque.
      </p>
      <p class="main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Totam omnis odit ipsam sed quos, a repudiandae, sapiente consequuntur laborum quaerat vel. 
        Nemo, incidunt consectetur illum quae quam pariatur in doloremque.
      </p>  
    </article>
    <header><img class="main-img" src="https://dummyimage.com/1000x600/bababc/fff" alt="Valores-sub_1"></header>
    <p class="main-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Totam omnis odit ipsam sed quos, a repudiandae, sapiente consequuntur laborum quaerat vel. 
      Nemo, incidunt consectetur illum quae quam pariatur in doloremque.
    </p>
  </section>
</section>
